<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>TypeServlet</servlet-name>
        <servlet-class>Lexer.TypeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TypeServlet</servlet-name>
        <url-pattern>/Lexer.TypeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UnderStandServlet</servlet-name>
        <servlet-class>Semantic.UnderStandServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UnderStandServlet</servlet-name>
        <url-pattern>/Semantic.UnderStandServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GrammarServlet</servlet-name>
        <servlet-class>Parser.GrammarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GrammarServlet</servlet-name>
        <url-pattern>/Parser.GrammarServlet</url-pattern>
    </servlet-mapping>
</web-app>